In [17]:
import pandas as pd
import datetime

In [2]:
file_name = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv"
df_ts = pd.read_csv(file_name)

In [3]:
df_ts.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [13]:
df_ts['Date'] = pd.to_datetime(df_ts['Date'])

In [20]:
df_ts['w_date'] = df_ts['Date']+datetime.timedelta(7)

In [21]:
df_ts['d_date'] = df_ts['Date']+datetime.timedelta(1)

In [22]:
df_ts.head()

        Date  Temp     w_date     d_date
0 1981-01-01  20.7 1981-01-08 1981-01-02
1 1981-01-02  17.9 1981-01-09 1981-01-03
2 1981-01-03  18.8 1981-01-10 1981-01-04
3 1981-01-04  14.6 1981-01-11 1981-01-05
4 1981-01-05  15.8 1981-01-12 1981-01-06