In [83]:
import pandas as pd
### We will not use this file in this exercise, but a manually augmented file
### with NaN values based on the same dataset.
#file_name = "https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv"
file_name = "whatever_name_you_want.csv"
df = pd.read_csv(file_name)

In [84]:
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142.0,160.0,28.0,10.0,5.0,3.0,60.0,0.28,3167.0
1,175.0,180.0,18.0,8.0,4.0,1.0,12.0,0.43,4033.0
2,129.0,132.0,13.0,6.0,3.0,1.0,41.0,0.33,1471.0
3,138.0,140.0,17.0,7.0,3.0,1.0,22.0,0.46,3204.0
4,232.0,240.0,25.0,8.0,4.0,3.0,5.0,2.05,3613.0

In [85]:
#A generic check to see if there are any Null or NaN values in the DataFrame
df.isnull().values.any()

True

In [86]:
df.isnull().any()

Sell         True
 "List"      True
 "Living"    True
 "Rooms"     True
 "Beds"      True
 "Baths"     True
 "Age"       True
 "Acres"     True
 "Taxes"     True
dtype: bool

In [87]:
df.isnull().sum()

Sell          5
 "List"       6
 "Living"     6
 "Rooms"      9
 "Beds"      25
 "Baths"      9
 "Age"        9
 "Acres"      6
 "Taxes"      5
dtype: int64

In [88]:
df.Sell.isna().sum()

5

In [89]:
df.isnull().values.sum()

80

In [72]:
df.count()

Sell         95
 "List"      94
 "Living"    94
 "Rooms"     91
 "Beds"      75
 "Baths"     91
 "Age"       91
 "Acres"     94
 "Taxes"     95
dtype: int64

In [73]:
df.dropna().count()

Sell         70
 "List"      70
 "Living"    70
 "Rooms"     70
 "Beds"      70
 "Baths"     70
 "Age"       70
 "Acres"     70
 "Taxes"     70
dtype: int64

In [74]:
df[df[' "Beds"'].notnull()].count()

Sell         75
 "List"      74
 "Living"    75
 "Rooms"     75
 "Beds"      75
 "Baths"     75
 "Age"       75
 "Acres"     74
 "Taxes"     72
dtype: int64

In [75]:
import numpy as np
df[np.isfinite(df[' "Living"'])].count()

Sell         94
 "List"      93
 "Living"    94
 "Rooms"     91
 "Beds"      75
 "Baths"     91
 "Age"       91
 "Acres"     90
 "Taxes"     91
dtype: int64

In [76]:
df[' "Taxes"'] = df[' "Taxes"'].fillna(0)

In [77]:
df[' "Beds"'] = df[' "Beds"'].fillna('')

In [78]:
df.isnull().sum()

Sell         5
 "List"      6
 "Living"    6
 "Rooms"     9
 "Beds"      0
 "Baths"     9
 "Age"       9
 "Acres"     6
 "Taxes"     0
dtype: int64

In [94]:
import numpy as np
df.replace(np.nan, 0, regex=True).count()

Sell         100
 "List"      100
 "Living"    100
 "Rooms"     100
 "Beds"      100
 "Baths"     100
 "Age"       100
 "Acres"     100
 "Taxes"     100
dtype: int64

Sell         100
 "List"      100
 "Living"    100
 "Rooms"     100
 "Beds"      100
 "Baths"     100
 "Age"       100
 "Acres"     100
 "Taxes"     100
dtype: int64

In [102]:
new_df = df[df[' "Living"'].notnull()]