In [1]:
import pandas as pd

In [2]:
file_name = "https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv"
df = pd.read_csv(file_name)

In [3]:
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613

In [4]:
df.dtypes

Sell           int64
 "List"        int64
 "Living"      int64
 "Rooms"       int64
 "Beds"        int64
 "Baths"       int64
 "Age"         int64
 "Acres"     float64
 "Taxes"       int64
dtype: object

In [5]:
df['Sell'] = df['Sell'].astype(str)

In [6]:
df.dtypes

Sell          object
 "List"        int64
 "Living"      int64
 "Rooms"       int64
 "Beds"        int64
 "Baths"       int64
 "Age"         int64
 "Acres"     float64
 "Taxes"       int64
dtype: object

AttributeError: 'Series' object has no attribute 'to_numeric'

In [16]:
df['Sell'] = df['Sell'].astype(str)

In [18]:
df['Sell'] = pd.to_numeric(df['Sell'])

In [19]:
df.dtypes

Sell           int64
 "List"        int64
 "Living"      int64
 "Rooms"       int64
 "Beds"        int64
 "Baths"       int64
 "Age"         int64
 "Acres"     float64
 "Taxes"       int64
dtype: object

In [20]:
df['Sell'].value_counts()

157    2
135    2
148    2
180    2
110    2
175    2
152    2
129    2
136    1
265    1
212    1
170    1
89     1
151    1
142    1
207    1
145    1
146    1
183    1
150    1
87     1
138    1
127    1
271    1
111    1
123    1
185    1
184    1
567    1
153    1
293    1
133    1
234    1
190    1
232    1
167    1
166    1
165    1
106    1
143    1
247    1
128    1
Name: Sell, dtype: int64