In [4]:
import pandas as pd
file_name = "https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv"
df = pd.read_csv(file_name)

In [5]:
df['Grouping'] = df[' "Baths"'] > df[' "Beds"']
df[' "Baths"'] = df[' "Baths"'].astype(str)
df[' "Beds"'] = df[' "Beds"'].astype('category')

In [6]:
df.dtypes

Sell            int64
 "List"         int64
 "Living"       int64
 "Rooms"        int64
 "Beds"      category
 "Baths"       object
 "Age"          int64
 "Acres"      float64
 "Taxes"        int64
Grouping         bool
dtype: object

In [7]:
#Used for int64 and float64 based data types
df.describe()

,Sell,"""List""","""Living""","""Rooms""","""Age""","""Acres""","""Taxes"""
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,170.360000,178.340000,21.120000,8.060000,30.220000,1.020600,3706.100000
std,72.755885,79.382723,8.351072,1.284285,30.962314,1.191496,1579.915268
min,87.000000,90.000000,10.000000,5.000000,2.000000,0.220000,1445.000000
25%,135.000000,140.000000,17.000000,7.000000,12.250000,0.382500,3107.000000
50%,152.000000,160.000000,20.000000,8.000000,24.500000,0.550000,3490.000000
75%,182.250000,190.000000,22.750000,9.000000,37.000000,1.182500,3919.250000
max,567.000000,625.000000,64.000000,12.000000,202.000000,6.490000,12192.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
Sell         50 non-null int64
 "List"      50 non-null int64
 "Living"    50 non-null int64
 "Rooms"     50 non-null int64
 "Beds"      50 non-null category
 "Baths"     50 non-null object
 "Age"       50 non-null int64
 "Acres"     50 non-null float64
 "Taxes"     50 non-null int64
Grouping     50 non-null bool
dtypes: bool(1), category(1), float64(1), int64(6), object(1)
memory usage: 3.5+ KB

In [9]:
df[' "Baths"'] = df[' "Baths"'].astype(float)
df[' "Beds"'] = df[' "Beds"'].astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
Sell         50 non-null int64
 "List"      50 non-null int64
 "Living"    50 non-null int64
 "Rooms"     50 non-null int64
 "Beds"      50 non-null int64
 "Baths"     50 non-null float64
 "Age"       50 non-null int64
 "Acres"     50 non-null float64
 "Taxes"     50 non-null int64
Grouping     50 non-null bool
dtypes: bool(1), float64(2), int64(7)
memory usage: 3.6 KB