In [2]:
import pandas as pd
### We will not use this file in this exercise, but a manually augmented file
### with NaN values based on the same dataset.
#file_name = "https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv"
file_name = "whatever_name_you_want.csv"
df = pd.read_csv(file_name)

In [14]:
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142.0,160.0,28.0,10.0,5.0,3.0,60.0,0.28,3167.0
1,175.0,180.0,18.0,8.0,4.0,1.0,12.0,0.43,4033.0
2,129.0,132.0,13.0,6.0,3.0,1.0,41.0,0.33,1471.0
3,138.0,140.0,17.0,7.0,3.0,1.0,22.0,0.46,3204.0
4,232.0,240.0,25.0,8.0,4.0,3.0,5.0,2.05,3613.0

In [15]:
#A generic check to see if there are any Null or NaN values in the DataFrame
df.isnull().values.any()

True

In [17]:
df.isnull().any()

Sell         True
 "List"      True
 "Living"    True
 "Rooms"     True
 "Beds"      True
 "Baths"     True
 "Age"       True
 "Acres"     True
 "Taxes"     True
dtype: bool

In [18]:
df.isnull().sum()

Sell          5
 "List"       6
 "Living"     6
 "Rooms"      9
 "Beds"      25
 "Baths"      9
 "Age"        9
 "Acres"      6
 "Taxes"      5
dtype: int64

In [19]:
df.Sell.isna().sum()

5

In [20]:
df.isnull().values.sum()

80