In [1]:
import pandas as pd
file_name = "https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv"
df = pd.read_csv(file_name)

In [2]:
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613

In [3]:
df.columns

Index([u'Sell', u' "List"', u' "Living"', u' "Rooms"', u' "Beds"', u' "Baths"',
       u' "Age"', u' "Acres"', u' "Taxes"'],
      dtype='object')

In [4]:
df[[u'Sell', u' "List"', u' "Living"', u' "Rooms"']]

    Sell   "List"   "Living"   "Rooms"
0    142      160         28        10
1    175      180         18         8
2    129      132         13         6
3    138      140         17         7
4    232      240         25         8
5    135      140         18         7
6    150      160         20         8
7    207      225         22         8
8    271      285         30        10
9     89       90         10         5
10   153      157         22         8
11    87       90         16         7
12   234      238         25         8
13   106      116         20         8
14   175      180         22         8
15   165      170         17         8
16   166      170         23         9
17   136      140         19         7
18   148      160         17         7
19   151      153         19         8
20   180      190         24         9
21   293      305         26         8
22   167      170         20         9
23   190      193         22         9
24   184      190         21         9
25   157      165         20         8
26   110      115         16         8
27   135      145         18         7
28   567      625         64        11
29   180      185         20         8
30   183      188         17         7
31   185      193         20         9
32   152      155         17         8
33   148      153         13         6
34   152      159         15         7
35   146      150         16         7
36   170      190         24        10
37   127      130         20         8
38   265      270         36        10
39   157      163         18         8
40   128      135         17         9
41   110      120         15         8
42   123      130         18         8
43   212      230         39        12
44   145      145         18         8
45   129      135         10         6
46   143      145         21         7
47   247      252         29         9
48   111      120         15         8
49   133      145         26         7

In [ ]:
columns = [u'Sell', u' "List"', u' "Living"', u' "Rooms"']
df = pd.DataFrame(df, columns=columns)