In [10]:
import pandas as pd
file_name = "https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv"
df = pd.read_csv(file_name)

In [11]:
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613

In [12]:
df.to_csv("whatever_name_you_want.csv")

In [13]:
df.to_csv("whatever_name_you_want.csv", sep='\t')

In [14]:
df.to_csv("whatever_name_you_want.csv", sep='\t', encoding='utf-8')

In [15]:
df.to_csv("whatever_name_you_want.csv", encoding='utf-8', index=False)

In [16]:
#Append records to existing DataFrame object
df.to_csv ('whatever_name_you_want.csv', mode='a', header=False, index=False)

In [17]:
pd.read_csv('whatever_name_you_want.csv').count()

Sell         100
 "List"      100
 "Living"    100
 "Rooms"     100
 "Beds"      100
 "Baths"     100
 "Age"       100
 "Acres"     100
 "Taxes"     100
dtype: int64

In [18]:
#Example of writing to a specific local directory
df.to_csv("/some/directory/that/works/whatever_name_you_want.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/some/directory/that/works/whatever_name_you_want.csv'

In [19]:
df.to_csv('whatever_name_you_want.csv', mode='a', header=False, index=False, chunksize=10000)

In [20]:
df.to_csv('whatever_name_you_want.csv', mode='a', header=False, index=False, compression='gzip')